{{- if .IsPage -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title | jsonify }},
  "description": {{ .Description | default .Summary | plainify | jsonify }},
  "url": {{ .Permalink | jsonify }},
  "datePublished": {{ .Date.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  "dateModified": {{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  "wordCount": {{ .WordCount }},
  "inLanguage": {{ .Lang | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ .Site.Params.author | default "Allene Ha" | jsonify }},
    "url": {{ .Site.BaseURL | jsonify }}
  },
  "publisher": {
    "@type": "Person",
    "name": {{ .Site.Params.author | default "Allene Ha" | jsonify }}
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify }}
  }
  {{- with .Params.tags }},
  "keywords": {{ . | jsonify }}
  {{- end }}
}
</script>
{{- else if .IsHome -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ .Site.Title | jsonify }},
  "url": {{ .Site.BaseURL | jsonify }},
  "description": {{ .Site.Params.description | jsonify }},
  "inLanguage": {{ .Lang | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ .Site.Params.author | default "Allene Ha" | jsonify }}
  }
}
</script>
{{- end -}}
